<!-- TOP BAR -->
<div class="topbar">
    <div class="topbar-left">
        <div class="text-center"> <a href="index.html" class="logo"><span>ACES</span>Coin</a> <a href="/" class="logo-sm"><span>W</span></a></div>
    </div>
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="">
                <div class="pull-left">
                    <button type="button" class="button-menu-mobile open-left waves-effect waves-light"> <i class="ion-navicon"></i> </button> <span class="clearfix"></span>
                </div>
                <ul class="nav navbar-nav navbar-right pull-right">
                	<li class="dropdown hidden-xs">
                        <a href="#" data-target="#" class="dropdown-toggle waves-effect waves-light notification-icon-box" data-toggle="dropdown" aria-expanded="true"> <i class="fa fa-btc" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu dropdown-menu-lg">
                        	<li class="text-center notifi-title">ACES COIN</li>
                            <li class="list-group">
                                <span style="margin: 15px; color: black; font-size: 16px;">BUY: 1 AC = {{ coin.buy_value }} USD = {{ coin.buy_value_btc }} BTC </span>
                            </li>
                            <li class="list-group">
                               	<span style="margin: 15px; color: black; font-size: 16px;">SELL: 1 AC = {{ coin.sell_value }} USD = {{ coin.sell_value_btc }} BTC </span>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown hidden-xs">
                        <a href="#" data-target="#modal-converter" class="dropdown-toggle waves-effect waves-light notification-icon-box" data-toggle="modal" aria-expanded="true"> <i class="fa fa-calculator" aria-hidden="true"></i></a>
                    </li>
                    <li class="hidden-xs"> <a href="#" id="btn-fullscreen" class="waves-effect waves-light notification-icon-box"><i class="mdi mdi-fullscreen"></i></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle profile waves-effect waves-light" data-toggle="dropdown" aria-expanded="true"> <img src="{{assetUrl}}img/flags/{{ user.avatar }}" alt="user-img" class="img-circle"> <span class="profile-username"> {{ user.first_name }} <br/> <small>{{ user.username }}</small> </span> </a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile/{{user.ref_id}}"> Profile</a></li>
                            {% if (user.user_type == 3) %}
                            <li><a href="/member/messages">
                              {% if (countPendingMessages(user.id) > 0) %}
                              <span class="badge badge-danger pull-right">{{ countPendingMessages(user.id) }}</span>
                              {% endif %}
                               Messages</a>
                            </li>
                            {% endif %}
                            <li class="divider"></li>
                            <li><a href="/logout"> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END TOP BAR -->

<!-- MODAL Converter DIALOG -->
<div class="modal fade" id="modal-converter" tabindex="-1" role="dialog" aria-labelledby="Withdrawal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="c-panel c-panel--default c-modal__inner ">
  <div class="c-modal__close-button" data-dismiss="modal" aria-hidden="true">
    ×
  </div>

  <div class="c-panel__titles">
      <div class="c-panel__title c-modal__title">
        Converter
      </div>

<!---->      </div>

<div class="c-panel__body">

<div class="ember-view"><!----></div>

<div class="c-form">
<!---->
<!---->
  <div class="c-form__section">
    <label class="c-form__label" for="source_amount">
        Sell Value Converter
    </label>

    <div class="c-form__group">
      <div class="c-form__group-item">
          <div class="ember-view ca-unlocked"><!---->
          <div class="input-group">
          <div class="input-group-addon">AC</div>

          <input class="ember-view ember-text-field c-form__control" placeholder="0" tabindex="2" name="tc_value" step="0.01" type="number">
          </div>
          </div>
      </div>

      <div class="c-form__group-item">
          <div class="ember-view ca-unlocked"><!---->
          <div class="input-group">
          <div class="input-group-addon">BTC</div>

          <input class="ember-view ember-text-field c-form__control" placeholder="0" tabindex="2" name="btc_value" step="0.0001" type="number">
          </div>
          </div>
      </div>

      <div class="c-form__group-item">
          <div class="ember-view ca-unlocked"><!---->
          <div class="input-group">
          <div class="input-group-addon">USD</div>

          <input class="ember-view ember-text-field c-form__control" placeholder="0" tabindex="3" name="aud_value" step="0.01" type="number">
          </div>
          </div>
      </div>
    </div>
  </div>

  <div class="c-form__section">
    <label class="c-form__label" for="source_amount">
        Buy Value Converter
    </label>

    <div class="c-form__group">
      <div class="c-form__group-item">
          <div class="ember-view ca-unlocked"><!---->
          <div class="input-group">
          <div class="input-group-addon">AC</div>

          <input class="ember-view ember-text-field c-form__control" placeholder="0" tabindex="2" name="tc_value_buy" step="0.01" type="number">
          </div>
          </div>
      </div>

      <div class="c-form__group-item">
          <div class="ember-view ca-unlocked"><!---->
          <div class="input-group">
          <div class="input-group-addon">BTC</div>

          <input class="ember-view ember-text-field c-form__control" placeholder="0" tabindex="2" name="btc_value_buy" step="0.0001" type="number">
          </div>
          </div>
      </div>

      <div class="c-form__group-item">
          <div class="ember-view ca-unlocked"><!---->
          <div class="input-group">
          <div class="input-group-addon">USD</div>

          <input class="ember-view ember-text-field c-form__control" placeholder="0" tabindex="3" name="aud_value_buy" step="0.01" type="number">
          </div>
          </div>
      </div>
    </div>
  </div>
</div>
<!---->
</div>

</div>
</div>
</div>
<!-- END MODAL Converter DIALOG -->

<!-- MODAL PACKAGE 1 DIALOG -->
<div class="modal fade" id="modal-pacakge-1" tabindex="-1" role="dialog" aria-labelledby="Package Type 1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Package 1</h4>
      </div>
      <form method="post" action="{{ urlFor('add_investment') }}">
        <input type="hidden" value="{{ request_uri }}" name="request_uri">
        <input type="hidden" name="package_type" value="1" >
        <div class="modal-body">
          <div class="widget-content">
            <ul id="dragdrop-todo" class="list-unstyled todo-list">
              <li>
                <p>
                  <strong>{{package_1_range}} Days with {{package_1_interest}}% per day {{package_1_lockin}} days Capital Lock Period</strong>
                  <br>
                  <span class="short-description">Minimum 1 AC per investment</span>
                </p>
              </li>
              <li>
                <p>
                  <small>Investment Amount:</small>
                  <input type="number" name="investment_amount" class="form-control" placeholder="Investment" value="1" min="0.00000001" max="{{ availableCoinBalance(user.id) }}" step="0.00000001">
                </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Add Investment</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- END MODAL PACKAGE 1 DIALOG -->

<!-- MODAL PACKAGE 2 DIALOG -->
<div class="modal fade" id="modal-pacakge-2" tabindex="-1" role="dialog" aria-labelledby="Package Type 2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Package 2</h4>
      </div>
      <form method="post" action="{{ urlFor('add_investment') }}">
        <input type="hidden" value="{{ request_uri }}" name="request_uri">
        <input type="hidden" name="package_type" value="2" >
        <div class="modal-body">
          <div class="widget-content">
            <ul id="dragdrop-todo" class="list-unstyled todo-list">
              <li>
                <p>
                  <strong>{{package_2_range}} Days with {{package_2_interest}}% per day {{package_2_lockin}} days Capital Lock Period</strong>
                  <br>
                  <span class="short-description">Minimum 1 AC per investment</span>
                </p>
              </li>
              <li>
                <p>
                  <small>Investment Amount:</small>
                  <input type="number" name="investment_amount" class="form-control" placeholder="Investment" value="1" min="0.00000001" max="{{ availableCoinBalance(user.id) }}" step="0.00000001">
                </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success"><i class="fa fa-plus-circle"></i> Add Investment</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- END MODAL PACKAGE 2 DIALOG -->

<!-- MODAL WITHDRAW DIALOG -->
<div class="modal fade" id="modal-withdraw" tabindex="-1" role="dialog" aria-labelledby="Withdrawal" aria-hidden="true">
  <div class="modal-dialog">
  <form method="post" action="{{ urlFor('bitcoin_withdrawal') }}">
    <input type="hidden" value="{{ request_uri }}" name="request_uri">
    <div class="c-panel c-panel--default c-modal__inner ">
  <div class="c-modal__close-button" data-dismiss="modal" aria-hidden="true">
    ×
  </div>

  <div class="c-panel__titles">
      <div class="c-panel__title c-modal__title">
        Convert AC to BTC
      </div>

<!---->      </div>

<div class="c-panel__body">

<div class="ember-view"><!----></div>

<div class="c-form">
<!---->
<!---->
  <div class="c-form__section">
    <label class="c-form__label" for="source_amount">
        How much ACES Coin (AC) would you like to convert to BTC?
    </label>

    <div class="c-form__group">
      <div class="c-form__group-item">
          <div class="ember-view ca-locked"><!---->
          <div class="input-group">
          <div class="input-group-addon">AC</div>

          <input class="ember-view ember-text-field c-form__control" placeholder="3" tabindex="1" value="3" max="{{ availableCoinBalance(user.id) }}" min="3" name="tc_amount" step="0.01" type="number" required>
          </div>
          </div>
      </div>

      <div class="c-form__group-item">
          <div class="ember-view ca-unlocked"><!---->
          <div class="input-group">
          <div class="input-group-addon">BTC</div>

          <input class="ember-view ember-text-field c-form__control" placeholder="0" tabindex="0" max="Infinity" min="0" name="btc_amount" step="0.0001" type="number" disabled>
          </div>
          </div>
      </div>

      <div class="c-form__group-item">
          <div class="ember-view ca-unlocked"><!---->
          <div class="input-group">
          <div class="input-group-addon">AUD</div>

          <input class="ember-view ember-text-field c-form__control" placeholder="0" tabindex="0" max="Infinity" min="0" name="aud_amount" step="0.0001" type="number" disabled>
          </div>
          </div>
      </div>
    </div>
    <br/>
    <div class="c-form__group">
      <div class="c-form__group-item">
          <div class="ember-view ca-locked"><!---->
          <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-paper-plane" aria-hidden="true"></i></div>

          <input class="ember-view ember-text-field c-form__control" placeholder="External Wallet Address" type="text" name="to_wallet" required>
          </div>
          </div>
      </div>
      <div class="c-form__group-item">
          <div class="ember-view ca-locked"><!---->
          <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-unlock" aria-hidden="true"></i></div>

          <input class="ember-view ember-text-field c-form__control" placeholder="Pin Code" type="number" name="pin_code" required>
          </div>
          </div>
      </div>
    </div>
  </div>
</div>
<!---->
</div>

<div class="c-panel__footer">

<!---->
<div class="c-summary">
  <div class="c-summary__item c-summary__item">
    <div class="c-summary__title">
      Available Tytanium Coins
    </div>
    <div class="c-summary__value">
      {{ availableCoinBalance(user.id)|number_format(2, '.', ',') }} AC
    </div>
  </div>

  <div class="c-summary__item c-summary__item">
    <div class="c-summary__title">
      Conversion Rate
    </div>
    <div class="c-summary__value">
      {{ convertTC_BTC_SELL(availableCoinBalance(user.id))|number_format(8, '.', ',') }} BTC = {{ convertTC_AUD_SELL(availableCoinBalance(user.id))|number_format(2, '.', ',') }} AUD
    </div>
  </div>
</div>

<div class="c-panel__buttons">
  <button class="btn btn-default c-panel__btn" data-dismiss="modal">
    Cancel
  </button>
  {% if (payout == 1) %}
    <button class="btn btn-primary c-panel__btn" type="submit" onClick="this.form.submit(); this.disabled=true; this.value='Sending…'; ">
      Convert
    </button>
  {% endif %}
</div>
</div>
</div>
</form>
</div>
</div>
<!-- END MODAL WITHDRAW DIALOG -->
