<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie ie9" lang="en" class="no-js"> <![endif]-->
<!--[if !(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
	<title>{{ title }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="ACES Coin - Trading">
	<meta name="author" content="AC Solution">

	<!-- Fav and touch icons -->
	<link rel="shortcut icon" href="{{assetUrl}}ico/favicon.png">
	<link rel="apple-touch-icon" sizes="57x57" href="{{assetUrl}}ico/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="{{assetUrl}}ico/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{assetUrl}}ico/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="{{assetUrl}}ico/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{assetUrl}}ico/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{{assetUrl}}ico/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="{{assetUrl}}ico/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{assetUrl}}ico/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="{{assetUrl}}ico/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="{{assetUrl}}ico/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{assetUrl}}ico/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="{{assetUrl}}ico/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{assetUrl}}ico/favicon-16x16.png">
	<link rel="manifest" href="{{assetUrl}}ico/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<!-- CSS -->
    <link href="{{assetUrl}}css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{assetUrl}}css/icons.css" rel="stylesheet" type="text/css">
    <link href="{{assetUrl}}css/style.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{{assetUrl}}css/coins.css" type="text/css">

	{% block external_css %}{% endblock %}
</head>

<body class="fixed-left">
	<input type="hidden" id="base_url" value="{{ baseUrl() }}"/>

	{% set flash_visibility = (flash.message|length == 0) ? "display: hidden;" : "display: block;" %}
	{% set flash_status = (flash.message_status == true) ? "alert-success" : "alert-danger" %}
	{# <div class="alert {{flash_status}} top-general-alert" style="{{flash_visibility}}">
		<span>{{flash.message}}</span>
		<button type="button" class="close">×</button>
	</div> #}

	<!-- body content -->
	{% block body %}{% endblock %}

	<!-- Javascript -->
    <script src="{{assetUrl}}js/jquery.min.js"></script>
    <script src="{{assetUrl}}js/bootstrap.min.js"></script>
    <script src="{{assetUrl}}js/modernizr.min.js"></script>
    <script src="{{assetUrl}}js/detect.js"></script>
    <script src="{{assetUrl}}js/fastclick.js"></script>
    <script src="{{assetUrl}}js/jquery.slimscroll.js"></script>
    <script src="{{assetUrl}}js/jquery.blockUI.js"></script>
    <script src="{{assetUrl}}js/waves.js"></script>
    <script src="{{assetUrl}}js/wow.min.js"></script>
    <script src="{{assetUrl}}js/jquery.nicescroll.js"></script>
    <script src="{{assetUrl}}js/jquery.scrollTo.min.js"></script>
    <script src="{{assetUrl}}js/app.js"></script>

	{% block external_js %}{% endblock %}

	<script>
	$("#{{active_menu}}").addClass("active");
	</script>

	<!-- Calculator -->
	<script>
	$(document).on('input', "[name=tc_value]", function(){
	  convertTC(this.value);
	});

	$(document).on('input', "[name=btc_value]", function(){
	  convertBTC(this.value);
	});

	$(document).on('input', "[name=aud_value]", function(){
	  convertAUD(this.value);
	});

	function convertTC(amount) {
	  $.get("/api/convert/btc/" + amount).done(function(response) {
	    // console.log("response", response);
	    $("input[name=btc_value]").val(response);
	  }).fail(function(error){
	    $("input[name=btc_value]").val(0);
	    // console.log("error", error);
	  });

	  $.get("/api/convert/aud/" + amount).done(function(response) {
	    // console.log("response", response);
	    $("input[name=aud_value]").val(response);
	  }).fail(function(error){
	    $("input[name=aud_value]").val(0);
	    // console.log("error", error);
	  });
	}

	function convertBTC(amount) {
	  $.get("/api/convert/btc_tc/" + amount).done(function(response) {
	    // console.log("response", response);
	    $("input[name=tc_value]").val(response);

	    $.get("/api/convert/aud/" + response).done(function(response) {
	      // console.log("response", response);
	      $("input[name=aud_value]").val(response);
	    }).fail(function(error){
	      $("input[name=aud_value]").val(0);
	      // console.log("error", error);
	    });
	  }).fail(function(error){
	    $("input[name=tc_value]").val(0);
	    // console.log("error", error);
	  });
	}

	function convertAUD(amount) {
	  $.get("/api/convert/aud_tc/" + amount).done(function(response) {
	    // console.log("response", response);
	    $("input[name=tc_value]").val(response);

	    $.get("/api/convert/btc/" + response).done(function(response) {
	      // console.log("response", response);
	      $("input[name=btc_value]").val(response);
	    }).fail(function(error){
	      $("input[name=btc_value]").val(0);
	      // console.log("error", error);
	    });
	  }).fail(function(error){
	    $("input[name=tc_value]").val(0);
	    // console.log("error", error);
	  });
	}
	</script>

	<!-- BUY CONVERTER -->
	<script>
	$(document).on('input', "[name=tc_value_buy]", function(){
	  convertTC_BUY(this.value);
	});

	$(document).on('input', "[name=btc_value_buy]", function(){
	  convertBTC_BUY(this.value);
	});

	$(document).on('input', "[name=aud_value_buy]", function(){
	  convertAUD_BUY(this.value);
	});

	function convertTC_BUY(amount) {
	  $.get("/api/convert/buy/btc/" + amount).done(function(response) {
	    // console.log("response", response);
	    $("input[name=btc_value_buy]").val(response);
	  }).fail(function(error){
	    $("input[name=btc_value_buy]").val(0);
	    // console.log("error", error);
	  });

	  $.get("/api/convert/buy/aud/" + amount).done(function(response) {
	    // console.log("response", response);
	    $("input[name=aud_value_buy]").val(response);
	  }).fail(function(error){
	    $("input[name=aud_value_buy]").val(0);
	    // console.log("error", error);
	  });
	}

	function convertBTC_BUY(amount) {
	  $.get("/api/convert/buy/btc_tc/" + amount).done(function(response) {
	    // console.log("response", response);
	    $("input[name=tc_value_buy]").val(response);

	    $.get("/api/convert/buy/aud/" + response).done(function(response) {
	      // console.log("response", response);
	      $("input[name=aud_value_buy]").val(response);
	    }).fail(function(error){
	      $("input[name=aud_value_buy]").val(0);
	      // console.log("error", error);
	    });
	  }).fail(function(error){
	    $("input[name=tc_value_buy]").val(0);
	    // console.log("error", error);
	  });
	}

	function convertAUD_BUY(amount) {
	  $.get("/api/convert/buy/aud_tc/" + amount).done(function(response) {
	    // console.log("response", response);
	    $("input[name=tc_value_buy]").val(response);

	    $.get("/api/convert/buy/btc/" + response).done(function(response) {
	      // console.log("response", response);
	      $("input[name=btc_value_buy]").val(response);
	    }).fail(function(error){
	      $("input[name=btc_value_buy]").val(0);
	      // console.log("error", error);
	    });
	  }).fail(function(error){
	    $("input[name=tc_value_buy]").val(0);
	    // console.log("error", error);
	  });
	}
	</script>

</body>
</html>
