{% extends 'master.twig' %}
{% block external_css %}

<link href="{{assetUrl}}plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}plugins/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}plugins/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}plugins/datatables/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}plugins/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />

{% endblock %}

{% block body %}
<div id="wrapper">
    <!-- TOPBAR HEADER -->
    {% include 'header.twig' %}
    <!-- LEFT SIDE BAR -->
    {% include 'admin/sidebar.twig' %}

		<div class="content-page">
				<div class="content">
						<div class="">
								<div class="page-header-title">
										<h4 class="page-title"></h4></div>
						</div>
						<div class="page-content-wrapper ">
								<div class="container">
										<div class="row">
												<div class="col-md-12">
													<div class="panel">
															<div class="panel-body">
																	<h4 class="m-b-30 m-t-0"><i class="fa fa-question-circle" aria-hidden="true"></i> Inquiries</h4>
																	<div class="row">
																			<div class="col-xs-12">
																					<div class="table-responsive">
																						<table id="tbl-inquiries" class="table table-sorting table-hover table-bordered datatable">
																							<thead>
																								<tr>
																									<th>Name</th>
																									<th>Email</th>
																									<th>Subject</th>
																									<th>Message</th>
																									<th>Status</th>
																									<th>Date/Time</th>
																									<th></th>
																								</tr>
																							</thead>
																							<tbody>
																								{% for inquiry in inquiries %}
																								{% set inq_status = (inquiry.is_responded == 1) ? "Responded" : "Not Responded" %}
																								<tr>
																									<td>{{ inquiry.name }}</td>
																									<td>{{ inquiry.email }}</td>
																									<td>{{ inquiry.subject }}</td>
																									<td><a class="btn btn-default btn-xs" data-toggle="modal" data-target="#modal-message-{{ inquiry.id }}"><i class="fa fa-eye" aria-hidden="true"></i> View Message</a></td>
																									<td>{{ inq_status }}</td>
																									<td>{{ inquiry.created_at|date('F j, Y h:i A') }}</td>
																									<td>
																										{% if (inquiry.is_responded == 0) %}
																										<form method="post" action="{{ urlFor('set_as_responded') }}">
																											<input type="hidden" name="inquiry_id" value="{{ inquiry.id }}">
																											<button type="submit" class="btn btn-success btn-xs"><i class="fa fa-check" aria-hidden="true"></i> Set as Responded</button>
																										</form>
																										{% endif %}
																									</td>
																								</tr>

																								<!-- MODAL DIALOG -->
																								<div class="modal fade" id="modal-message-{{ inquiry.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
																									<div class="modal-dialog">
																										<div class="modal-content">
																											<div class="modal-header">
																												<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
																												<h4 class="modal-title">{{ inquiry.subject }}</h4>
																											</div>
																											<div class="modal-body">
																												<p>{{ inquiry.message }}</p>
																											</div>
																										</div>
																									</div>
																								</div>
																								<!-- END MODAL DIALOG -->

																								{% endfor %}
																							</tbody>
																						</table>
																					</div>
																			</div>
																	</div>
															</div>
													</div>
												</div>
										</div>
								</div>
						</div>
				</div>
				<footer class="footer"> © 2017 ACES Trading - All Rights Reserved. </footer>
		</div>
</div>
{% endblock %}

{% block external_js %}
<script src="{{assetUrl}}plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.bootstrap.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.buttons.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/buttons.bootstrap.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/jszip.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/pdfmake.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/vfs_fonts.js"></script>
<script src="{{assetUrl}}plugins/datatables/buttons.html5.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/buttons.print.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.fixedHeader.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.keyTable.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.responsive.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/responsive.bootstrap.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.scroller.min.js"></script>
{# <script src="{{assetUrl}}pages/datatables.init.js"></script> #}

<script>
$("#tbl-inquiries").dataTable();
</script>
{% endblock %}
