{% extends 'master.twig' %}
{% block external_css %}

<link href="{{assetUrl}}plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}plugins/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}plugins/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}plugins/datatables/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}plugins/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />

{% endblock %}

{% block body %}

<div id="wrapper">
    <!-- TOPBAR HEADER -->
    {% include 'header.twig' %}
    <!-- LEFT SIDE BAR -->
    {% include 'admin/sidebar.twig' %}

		<div class="content-page">
				<div class="content">
						<div class="">
								<div class="page-header-title">
										<h4 class="page-title">Payouts</h4></div>
						</div>
						<div class="page-content-wrapper ">
								<div class="container">
										<div class="row">
												<div class="col-md-12">
													<div class="panel">
															<div class="panel-body">
																	<h4 class="m-b-30 m-t-0"><i class="fa fa-table"></i> Pending Payout Request</h4>
																	<div class="row">
																			<div class="col-xs-12">
																					<div class="table-responsive">
																						<table id="tbl-pending-payouts" class="table table-sorting table-hover table-bordered datatable">
																							<thead>
																								<tr>
																									<th>Reference Code</th>
																									<th>Username</th>
																									<th>Name</th>
																									<th>Request Type</th>
																									<th>Requested Amount (AC)</th>
																									<th>Processing Fee (2%)</th>
																									<th>Total Amount (AC)</th>
																									<th>Date/Time</th>
																									<th>Action</th>
																								</tr>
																							</thead>
																							<tbody>
																								{% for payout in payouts %}
																								{% set requestType = (payout.request_type == 1) ? "Interest Encashment" : "Pull-out Capital" %}
																									<tr>
																										<td>{{ payout.ref_code }}</td>
																										<td>{{ getUserdetails(payout.user_id).username }}</td>
																										<td>{{ getUserdetails(payout.user_id).first_name }}</td>
																										<td>{{ requestType }}</td>
																										<td>{{ payout.tc_amount }} AC</td>
																										<td>{{ (payout.tc_amount * (2/100)) }} AC</td>
																										<td>{{ (payout.tc_amount - (payout.tc_amount * (2/100))) }} AC</td>
																										<td>{{ payout.created_at|date("F j, Y h:i A") }}</td>
																										<td>
																											<form method="post" action="{{ urlFor('admin_approve_request') }}">
																												<input type="hidden" name="reference_code" value="{{ payout.ref_code }}" >
																												<button type="submit" class="btn btn-success btn-xs"><i class="fa fa-check" aria-hidden="true"></i> Approve</button>
																											</form>
																										</td>
																									</tr>
																								{% endfor %}
																							</tbody>
																						</table>
																					</div>
																			</div>
																	</div>
															</div>
													</div>
												</div>
										</div>
										<div class="row">
												<div class="col-md-12">
													<div class="panel">
															<div class="panel-body">
																	<h4 class="m-b-30 m-t-0"><i class="fa fa-table"></i> Approved Payout Request</h4>
																	<div class="row">
																			<div class="col-xs-12">
																					<div class="table-responsive">
																						<table id="tbl-approved-payouts" class="table table-sorting table-hover table-bordered datatable">
																							<thead>
																								<tr>
																									<th>Reference Code</th>
																									<th>Username</th>
																									<th>Name</th>
																									<th>Request Type</th>
																									<th>Requested Amount (AC)</th>
																									<th>Processing Fee (2%)</th>
																									<th>Total Amount (AC)</th>
																									<th>Approved By</th>
																									<th>Date Requested</th>
																									<th>Date Approved</th>
																								</tr>
																							</thead>
																							<tbody>
																								{% for approved_payout in approved_payouts %}
																								{% set requestType = (approved_payout.request_type == 1) ? "Interest Encashment" : "Pull-out Capital" %}
																									<tr>
																										<td>{{ approved_payout.ref_code }}</td>
																										<td>{{ getUserdetails(approved_payout.user_id).username }}</td>
																										<td>{{ getUserdetails(approved_payout.user_id).first_name }}</td>
																										<td>{{ requestType }}</td>
																										<td>{{ approved_payout.tc_amount }} AC</td>
																										<td>{{ (approved_payout.tc_amount * (2/100)) }} AC</td>
																										<td>{{ (approved_payout.tc_amount - (approved_payout.tc_amount * (2/100))) }} AC</td>
																										<td>{{ getUserdetails(approved_payout.approved_by).username }}</td>
																										<td>{{ approved_payout.created_at|date("F j, Y h:i A") }}</td>
																										<td>{{ approved_payout.updated_at|date("F j, Y h:i A") }}</td>
																									</tr>
																								{% endfor %}
																							</tbody>
																						</table>
																					</div>
																			</div>
																	</div>
															</div>
													</div>
												</div>
										</div>
								</div>
						</div>
				</div>
				<footer class="footer"> © 2017 ACES Trading - All Rights Reserved. </footer>
		</div>
</div>

{% endblock %}

{% block external_js %}
<script src="{{assetUrl}}plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.bootstrap.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.buttons.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/buttons.bootstrap.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/jszip.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/pdfmake.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/vfs_fonts.js"></script>
<script src="{{assetUrl}}plugins/datatables/buttons.html5.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/buttons.print.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.fixedHeader.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.keyTable.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.responsive.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/responsive.bootstrap.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.scroller.min.js"></script>
{# <script src="{{assetUrl}}pages/datatables.init.js"></script> #}
<script>
	$("#tbl-pending-payouts").dataTable();
	$("#tbl-approved-payouts").dataTable();
</script>
{% endblock %}
