{% extends 'master.twig' %}
{% block external_css %}{% endblock %}

{% block body %}
<div class="wrapper full-page-wrapper page-auth page-login text-center">
	<div class="inner-page">
		<div class="logo">
			<a href="/"><img src="{{assetUrl}}img/tytanium_SmallLOGO.png" width="180" height="auto" alt="" /></a>
		</div>
		<div class="login-box center-block">
			<h1>Sorry for the inconvinience, system is upgrading...</h1>
		</div>
	</div>
</div>
{% endblock %}

{% block external_js %}{% endblock %}
