{% extends 'master.twig' %}
{% block external_css %}{% endblock %}

{% block body %}

<div class="accountbg"></div>
<div class="wrapper-page">
    <div class="panel panel-color panel-primary panel-pages">
        <div class="panel-body">
            <div align="center">
              <img src="{{ assetUrl }}img/acecoinsLOGOSmall.png" width="200" height="auto" />
            </div>
            <h3 class="text-center m-t-0 m-b-15"> <a href="/" class="logo logo-admin"><span>ACES</span>Coin</a></h3>
            <h4 class="text-muted text-center m-t-0"><b>Sign In</b></h4>
            <form class="form-horizontal m-t-20" method="post" action="{{ urlFor('dologin') }}">
              {% if flash.message %}
              {% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
              <div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {{ flash.message }}
              </div>
              {% endif %}

                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" required="" name="username" placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" required="" name="password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="checkbox checkbox-primary">
                            <input id="checkbox-signup" type="checkbox">
                            <label for="checkbox-signup"> Remember me </label>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center m-t-40">
                    <div class="col-xs-12">
                        <button class="btn btn-primary btn-block btn-lg waves-effect waves-light" type="submit">Log In</button>
                    </div>
                </div>
                <div class="form-group m-t-30 m-b-0">
                    <div class="col-sm-7"> <a href="#" class="text-muted"><i class="fa fa-lock m-r-5"></i> Forgot your password?</a></div>
                    <div class="col-sm-5 text-right"> <a href="/registration" class="text-muted">Create an account</a></div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block external_js %}{% endblock %}
