{% extends 'master.twig' %}
{% block external_css %}{% endblock %}

{% block body %}
<div class="accountbg"></div>
<div class="wrapper-page">
    <div class="panel panel-color panel-primary panel-pages">
        <div class="panel-body">
            <h3 class="text-center m-t-0 m-b-15"> <a href="/" class="logo logo-admin"><span>ACES</span>Coin</a></h3>
            <h4 class="text-muted text-center m-t-0"><b>My Profile</b></h4>
            <form class="form-horizontal m-t-20" method="post" action="{{ urlFor('save_profile') }}">
            	<input type="hidden" name="username" value="{{ generated_username }}">
            	<input type="hidden" name="direct_referral" value="{{ direct_referral }}">

              {% if flash.message %}
              {% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
              <div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {{ flash.message }}
              </div>
              {% endif %}

            	<div class="form-group">
            		<div class="col-xs-12">
									<br />
									<img src="{{assetUrl}}img/flags/{{user.avatar}}" id="display_avatar" />
									<select name="avatar" class="form-control" required>
										{% for flag in flags %}
										{% set isSel = (flag == user.avatar) ? "selected" : "" %}
										<option {{isSel}} value="{{flag}}"><img src="{{ flag }}" /> {{ flag }}</option>
										{% endfor %}
									</select>
									<hr>
            		</div>
            	</div>
            	<div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" disabled value="{{ user.username }}" placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="email" required="" name="email" value="{{ user.email }}" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" required="" name="full_name" value="{{ user.first_name }}" placeholder="Full Name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="number" min="1" maxlength="4" value="{{ user.pin_code }}" placeholder="Security Pin Code" name="pin_code">
                    </div>
                </div>
								<div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" disabled value="{{ user.associated_wallet }}">
                    </div>
                </div>
                <div class="form-group text-center m-t-40">
								<div class="col-xs-12">
                    <button class="btn btn-primary btn-block btn-lg waves-effect waves-light" type="submit">Update Profile</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block external_js %}
<script>
	$(document).on('change', '[name=avatar]', function() {
		$("#display_avatar").attr("src", "{{assetUrl}}img/flags/" + this.value);
	});
</script>
{% endblock %}
