{% extends 'master.twig' %}
{% block external_css %}{% endblock %}

{% block body %}

<div class="accountbg"></div>
<div class="wrapper-page">
    <div class="panel panel-color panel-primary panel-pages">
        <div class="panel-body">
            <h3 class="text-center m-t-0 m-b-15"> <a href="/" class="logo logo-admin"><span>ACES</span>Coin</a></h3>
            <h4 class="text-muted text-center m-t-0"><b>Create New Account</b></h4>
            <form class="form-horizontal m-t-20" method="post" action="{{ urlFor('pre_registration') }}">
            	<input type="hidden" name="username" value="{{ generated_username }}">
            	<input type="hidden" name="direct_referral" value="{{ direct_referral }}">

              {% if flash.message %}
              {% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
              <div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {{ flash.message }}
              </div>
              {% endif %}

            	<div class="form-group">
            		<div class="col-xs-12">
            			<input type="hidden" name="username" value="{{ generated_username }}">
						<label>Select your country flag</label>
						<br />
						<img src="{{assetUrl}}img/flags/Australia.png" id="display_avatar" />
						<select name="avatar" class="form-control" required>
							{% for flag in flags %}
							{% set isSel = (flag == "Australia.png") ? "selected" : "" %}
							<option {{isSel}} value="{{flag}}"><img src="{{ flag }}" /> {{ flag }}</option>
							{% endfor %}
						</select>
						<hr>
            		</div>
            	</div>
            	<div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" disabled value="{{ generated_username }}" placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="email" required="" name="email" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" required="" name="full_name" placeholder="Full Name">
                    </div>
                </div>
                {% if (direct_referral) %}
	                <div class="form-group">
	                    <div class="col-xs-12">
	                        <input class="form-control" type="text" disabled value="{{direct_referral}}" name="direct_referral" placeholder="Direct Referral">
	                    </div>
	                </div>
        		{% endif %}
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="number" min="1" maxlength="4" placeholder="Security Pin Code" name="pin_code">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="checkbox checkbox-primary">
                            <input id="checkbox-signup" id="chk-term" type="checkbox" checked="checked">
                            <label for="checkbox-signup"> I accept <a href="#" id="chk-term-view">Terms and Conditions</a> </label>
                        </div>
                        <div id="terms-conditions" style="background-color: rgba(128, 128, 128, 0.09); display: none;">
							<legend></legend>
							<h4 align="center">Terms and Conditions</h4>
							<ol>
								<li>
									Terms and condition here....
								</li>
							</ol>
						</div>
                    </div>
                </div>
                <div class="form-group text-center m-t-40">
                	{% if (registration == 1) %}
						<div class="col-xs-12">
	                        <button class="btn btn-primary btn-block btn-lg waves-effect waves-light" id="btn-reg-submit" type="submit">Register</button>
	                    </div>
					{% else %}
						<h3 style="color: red;">Registration is not available.</h3>
					{% endif %}
                </div>
                <div class="form-group m-t-30 m-b-0">
                    <div class="col-sm-12 text-center"> <a href="/login" class="text-muted">Already have account?</a></div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block external_js %}
<script>
	$(document).on('change', '[name=avatar]', function() {
		$("#display_avatar").attr("src", "{{assetUrl}}img/flags/" + this.value);
	});

	$("#chk-term-view").click(function(){
		if($('#terms-conditions').is(':visible')) {
			$('#terms-conditions').hide();
		} else {
			$('#terms-conditions').show();
		}
	});

	$("#chk-term").change(function(){
		if ($(this).is(":checked")) {
			$("#btn-reg-submit").removeAttr("disabled");
		} else {
			$("#btn-reg-submit").attr("disabled", true);
		}
	}).change();
</script>
{% endblock %}
