{% extends 'master.twig' %}
{% block external_css %}

<link href="{{assetUrl}}plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}plugins/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}plugins/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}plugins/datatables/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}plugins/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />

{% endblock %}

{% block body %}
<div id="wrapper">
    <!-- TOPBAR HEADER -->
    {% include 'header.twig' %}
    <!-- LEFT SIDE BAR -->
    {% include 'admin/sidebar.twig' %}

		<div class="content-page">
				<div class="content">
						<div class="">
								<div class="page-header-title">
										<h4 class="page-title">Dashboard</h4></div>
						</div>
						<div class="page-content-wrapper ">
								<div class="container">
										<div class="row">
												<div class="col-sm-6 col-lg-3">
														<div class="panel text-center">
																<div class="panel-heading">
																		<h4 class="panel-title text-muted font-light">Wallet Confirmed Balance</h4></div>
																<div class="panel-body p-t-10">
																		<h2 class="m-t-0 m-b-15"><b style="color: green;" id="confirmed_balance">0</b></h2>
																</div>
														</div>
												</div>
												<div class="col-sm-6 col-lg-3">
														<div class="panel text-center">
																<div class="panel-heading">
																		<h4 class="panel-title text-muted font-light">Wallet Unconfirmed Balance</h4></div>
																<div class="panel-body p-t-10">
																		<h2 class="m-t-0 m-b-15"><b style="color: red;" id="unconfirmed_balance">0</b></h2>
																</div>
														</div>
												</div>
												<div class="col-sm-6 col-lg-3">
														<div class="panel text-center">
																<div class="panel-heading">
																		<h4 class="panel-title text-muted font-light">Total ACES Coin</h4></div>
																<div class="panel-body p-t-10">
																		<h2 class="m-t-0 m-b-15"><b style="color: black;" id="tc_value">0</b></h2>
																</div>
														</div>
												</div>
												<div class="col-sm-6 col-lg-3">
														<div class="panel text-center">
																<div class="panel-heading">
																		<h4 class="panel-title text-muted font-light">Total USD</h4></div>
																<div class="panel-body p-t-10">
																		<h2 class="m-t-0 m-b-15"><b style="color: black;" id="aud_value">0</b></h2>
																</div>
														</div>
												</div>
										</div>
										<div class="row">
												<div class="col-sm-6">
														<div class="panel panel-primary">
															<div class="panel-body">
																	<ul class="list-inline widget-chart m-t-20 text-center">
																			<li>
																					<h4 class=""><b style="color: blue;">{{total_approved_payout|number_format(2, '.', ',')}} AC</b></h4>
																					<p class="text-muted m-b-0">Total Approved Payout (AC)</p>
																			</li>
																			<li>
																					<h4 class=""><b style="color: blue;">{{convertTC_BTC_BUY(total_approved_payout)|number_format(8, '.', ',')}} BTC</b></h4>
																					<p class="text-muted m-b-0">Total Approved Payout (BTC)</p>
																			</li>
																			<li>
																					<h4 class=""><b style="color: blue;">${{convertToAUD_BUY(total_approved_payout)|number_format(2, '.', ',')}}</b></h4>
																					<p class="text-muted m-b-0">Total Approved Payout (USD)</p>
																			</li>
																	</ul>
															</div>
													</div>
												</div>
												<div class="col-sm-6">
														<div class="panel panel-primary">
																<div class="panel-body">
																		<ul class="list-inline widget-chart m-t-20 text-center">
																				<li>
																						<h4 class=""><b style="color: red;">{{total_pending_payout|number_format(2, '.', ',')}} AC</b></h4>
																						<p class="text-muted m-b-0">Total Pending Payout (AC)</p>
																				</li>
																				<li>
																						<h4 class=""><b style="color: red;">{{convertTC_BTC_BUY(total_pending_payout)|number_format(8, '.', ',')}} BTC</b></h4>
																						<p class="text-muted m-b-0">Total Pending Payout (BTC)</p>
																				</li>
																				<li>
																						<h4 class=""><b style="color: red;">${{convertToAUD_BUY(total_pending_payout)|number_format(2, '.', ',')}}</b></h4>
																						<p class="text-muted m-b-0">Total Pending Payout (USD)</p>
																				</li>
																		</ul>
																</div>
														</div>
												</div>
										</div>
										<div class="row">
												<div class="col-md-12">
													<div class="panel">
															<div class="panel-body">
																	<h4 class="m-b-30 m-t-0"><i class="fa fa-table"></i> Members</h4>
																	<div class="row">
																			<div class="col-xs-12">
																					<div class="table-responsive">
																						<table id="tbl-members" class="table table-sorting table-hover table-bordered datatable">
																							<thead>
																								<tr>
																									<th>Ref. Code</th>
																									<th>Username</th>
																									<th>Email</th>
																									<th>Name</th>
																									<th>Associated Wallet</th>
																									<th>Date Registration</th>
																									<th>Action</th>
																								</tr>
																							</thead>
																							<tbody>
																								{% for member in members %}
																								<tr>
																									<td>{{ member.ref_id }}</td>
																									<td>{{ member.username }}</td>
																									<td>{{ member.email }}</td>
																									<td>{{ member.first_name }}</td>
																									<td>{{ member.associated_wallet }}</td>
																									<td>{{ member.created_at|date('F j, Y') }}</td>
																									<td> {% if (member.is_registered == 0) %}
																									<form method="post" action="{{ urlFor('resend_confirmation') }}">
																										<input type="hidden" name="member_id" value="{{ member.id }}" >
																										<button type="submit" class="btn btn-success btn-xs">
																											<i class="fa fa-envelope-o" aria-hidden="true"></i> Resend Email notification
																										</button>
																									</form> {% endif %} </td>
																								</tr>
																								{% endfor %}
																							</tbody>
																						</table>
																					</div>
																			</div>
																	</div>
															</div>
													</div>
												</div>
										</div>
										<div class="row">
												<div class="col-md-12">
													<div class="panel">
															<div class="panel-body">
																	<h4 class="m-b-30 m-t-0"><i class="fa fa-table"></i> Investments History</h4>
																	<div class="row">
																			<div class="col-xs-12">
																					<div class="table-responsive">
																						<table id="tbl-investments" class="table table-sorting table-hover table-bordered datatable">
																							<thead>
																								<tr>
																									<th>Transaction Code</th>
																									<th>Username</th>
																									<th>Name</th>
																									<th>Invested Amount</th>
																									<th>Interest Percentage</th>
																									<th>Package Type</th>
																									<th>Due date</th>
																									<th>Date/Time</th>
																								</tr>
																							</thead>
																							<tbody>
																								{% for investment in investments %}
																								<tr>
																									<td>{{ investment.trans_code }}</td>
																									<td>{{ getUserdetails(investment.user_id).username }}</td>
																									<td>{{ getUserdetails(investment.user_id).first_name }}</td>
																									<td>{{ investment.tc_amount }} TC</td>
																									<td>{{ investment.interest }}%</td>
																									<td>{{ investment.package_type }}</td>
																									<td>{{ dueDate(investment.created_at, investment.days_range)|date("F j, Y") }}</td>
																									<td>{{ investment.created_at|date('F j, Y') }}</td>
																								</tr>
																								{% endfor %}
																							</tbody>
																						</table>
																					</div>
																			</div>
																	</div>
															</div>
													</div>
												</div>
										</div>
								</div>
						</div>
				</div>
				<footer class="footer"> © 2017 ACES Trading - All Rights Reserved. </footer>
		</div>

</div>
{% endblock %}

{% block external_js %}
<script src="{{assetUrl}}plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.bootstrap.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.buttons.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/buttons.bootstrap.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/jszip.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/pdfmake.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/vfs_fonts.js"></script>
<script src="{{assetUrl}}plugins/datatables/buttons.html5.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/buttons.print.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.fixedHeader.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.keyTable.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.responsive.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/responsive.bootstrap.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.scroller.min.js"></script>
{# <script src="{{assetUrl}}pages/datatables.init.js"></script> #}

<script>
$("#tbl-members").dataTable();
$("#tbl-investments").dataTable();
</script>

<script>
	$.get('/api/wallet/details').done(function(response){
		// console.log('response', response);
		$("#confirmed_balance").text(response.confirmed_balance);
		$("#unconfirmed_balance").text(response.unconfirmed_balance);
		$("#tc_value").text(response.tc_value);
		$("#aud_value").text(response.aud_value);

		$("[name=withdrawable_amount]").attr('max', response.confirmed_balance);
	}).fail(function(error){
		console.log('error', error);
		$("#confirmed_balance").text('n/a');
		$("#unconfirmed_balance").text('n/a');
		$("#tc_value").text('n/a');
		$("#aud_value").text('n/a');
	});
</script>
{% endblock %}
