{% extends 'master.twig' %}
{% block external_css %}{% endblock %}

{% block body %}
<!-- TOPBAR HEADER -->
{% include 'header.twig' %}
<!-- LEFT SIDE BAR -->
{% include 'admin/sidebar.twig' %}

<!-- MAIN CONTENT WRAPPER -->
<div id="main-content-wrapper" class="content-wrapper ">
	<div class="widget">
			<div class="widget-header">
				<h3><i class="fa fa-bar-chart-o"></i> Bitcoin Details</h3>
				<div class="btn-group widget-header-toolbar">
					<a href="#" title="Focus" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
					<a href="#" title="Expand/Collapse" class="btn-borderless btn-toggle-expand"><i class="fa fa-chevron-up"></i></a>
				</div>
			</div>
			<div class="widget-content">
				<ul id="dragdrop-todo" class="list-unstyled todo-list">
						<li>
							<span class="list-control">
								<i class="fa fa-btc" aria-hidden="true"></i>
							</span>
							<p>
								<strong style="color: green;" id="confirmed_balance"></strong>
								<span class="short-description">Wallet Confirmed Balance</span>
							</p>
							<p>
								<strong style="color: red;" id="unconfirmed_balance"></strong>
								<span class="short-description">Wallet Unconfirmed Balance</span>
							</p>
						</li>

						<li>
							<span class="list-control">
								<i class="fa fa-money" aria-hidden="true"></i>
							</span>
							<form method="post" action="{{ urlFor('admin_withdrawal_btc') }}">
								<p>
									<input type="text" class="form-control" placeholder="external bitcoin wallet" name="external_wallet" required>
								</p>
								<p>
									<input type="number" class="form-control" placeholder="0" min="0" name="withdrawable_amount" required>
								</p>
								<p>
									<button class="btn btn-success btn-xs">Withdraw</button>
								</p>
							</form>
						</li>

						<li>
							<span class="list-control">
								TC
							</span>
							<p>
								<strong style="color: black;" id="tc_value"></strong>
							</p>
						</li>

						<li>
							<span class="list-control">
								AUD
							</span>
							<p>
								<strong style="color: black;" id="aud_value"></strong>
							</p>
						</li>

				</ul>
			</div>
		</div>

		<div class="widget">
			<div class="widget-header">
				<h3><i class="fa fa-bar-chart-o"></i> Payout Details</h3>
				<div class="btn-group widget-header-toolbar">
					<a href="#" title="Focus" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
					<a href="#" title="Expand/Collapse" class="btn-borderless btn-toggle-expand"><i class="fa fa-chevron-up"></i></a>
				</div>
			</div>
			<div class="widget-content">
				<ul id="dragdrop-todo" class="list-unstyled todo-list">

						<li>
							<p>
								<strong style="color: red;">{{total_pending_payout|number_format(2, '.', ',')}} TC</strong>
								<span class="short-description">Total Pending Payout (TC)</span>
							</p>
							<p>
								<strong style="color: red;">{{convertTC_BTC_BUY(total_pending_payout)|number_format(8, '.', ',')}} BTC</strong>
								<span class="short-description">Total Pending Payout (BTC)</span>
							</p>
							<p>
								<strong style="color: red;">{{convertToAUD_BUY(total_pending_payout)|number_format(2, '.', ',')}} AUD</strong>
								<span class="short-description">Total Pending Payout (AUD)</span>
							</p>
						</li>

						<li>
							<p>
								<strong style="color: blue;">{{total_approved_payout|number_format(2, '.', ',')}} TC</strong>
								<span class="short-description">Total Approved Payout (TC)</span>
							</p>
							<p>
								<strong style="color: blue;">{{convertTC_BTC_BUY(total_approved_payout)|number_format(8, '.', ',')}} BTC</strong>
								<span class="short-description">Total Pending Payout (BTC)</span>
							</p>
							<p>
								<strong style="color: blue;">{{convertToAUD_BUY(total_approved_payout)|number_format(2, '.', ',')}} AUD</strong>
								<span class="short-description">Total Pending Payout (AUD)</span>
							</p>
						</li>

				</ul>
			</div>
		</div>

	<div class="widget-content">
		<div class="widget widget-table">
			<div class="widget-header">
				<h3><i class="fa fa-table"></i> Members</h3>
			</div>
			<div class="widget-content">
				<table id="tbl-members" class="table table-sorting table-hover table-bordered datatable">
					<thead>
						<tr>
							<th>Ref. Code</th>
							<th>Username</th>
							<th>Email</th>
							<th>Name</th>
							<th>Associated Wallet</th>
							<th>Date Registration</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{% for member in members %}
						<tr>
							<td>{{ member.ref_id }}</td>
							<td>{{ member.username }}</td>
							<td>{{ member.email }}</td>
							<td>{{ member.first_name }}</td>
							<td>{{ member.associated_wallet }}</td>
							<td>{{ member.created_at|date('F j, Y') }}</td>
							<td> {% if (member.is_registered == 0) %}
							<form method="post" action="{{ urlFor('resend_confirmation') }}">
								<input type="hidden" name="member_id" value="{{ member.id }}" >
								<button type="submit" class="btn btn-success btn-xs">
									<i class="fa fa-envelope-o" aria-hidden="true"></i> Resend Email notification
								</button>
							</form> {% endif %} </td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="widget-content">
		<div class="widget widget-table">
			<div class="widget-header">
				<h3><i class="fa fa-table"></i> Investments History</h3>
			</div>
			<div class="widget-content">
				<table id="tbl-investments" class="table table-sorting table-hover table-bordered datatable">
					<thead>
						<tr>
							<th>Transaction Code</th>
							<th>Username</th>
							<th>Name</th>
							<th>Invested Amount</th>
							<th>Interest Percentage</th>
							<th>Package Type</th>
							<th>Due date</th>
							<th>Date/Time</th>
						</tr>
					</thead>
					<tbody>
						{% for investment in investments %}
						<tr>
							<td>{{ investment.trans_code }}</td>
							<td>{{ getUserdetails(investment.user_id).username }}</td>
							<td>{{ getUserdetails(investment.user_id).first_name }}</td>
							<td>{{ investment.tc_amount }} TC</td>
							<td>{{ investment.interest }}%</td>
							<td>{{ investment.package_type }}</td>
							<td>{{ dueDate(investment.created_at, investment.days_range)|date("F j, Y") }}</td>
							<td>{{ investment.created_at|date('F j, Y') }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- End main content-->
{% endblock %}

{% block external_js %}
<script src="{{assetUrl}}js/plugins/datatable/jquery.dataTables.min.js"></script>
<script src="{{assetUrl}}js/plugins/datatable/exts/dataTables.colVis.bootstrap.js"></script>
<script src="{{assetUrl}}js/plugins/datatable/exts/dataTables.colReorder.min.js"></script>
<script src="{{assetUrl}}js/plugins/datatable/exts/dataTables.tableTools.min.js"></script>
<script src="{{assetUrl}}js/plugins/datatable/dataTables.bootstrap.js"></script>
<script src="{{assetUrl}}js/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="{{assetUrl}}js/plugins/jqgrid/i18n/grid.locale-en.js"></script>
<script src="{{assetUrl}}js/plugins/jqgrid/jquery.jqGrid.fluid.js"></script>

<script>
$("#tbl-members").dataTable();
$("#tbl-investments").dataTable();
</script>

<script>
	$.get('/api/wallet/details').done(function(response){
		// console.log('response', response);
		$("#confirmed_balance").text(response.confirmed_balance);
		$("#unconfirmed_balance").text(response.unconfirmed_balance);
		$("#tc_value").text(response.tc_value);
		$("#aud_value").text(response.aud_value);

		$("[name=withdrawable_amount]").attr('max', response.confirmed_balance);
	}).fail(function(error){
		console.log('error', error);
		$("#confirmed_balance").text('n/a');
		$("#unconfirmed_balance").text('n/a');
		$("#tc_value").text('n/a');
		$("#aud_value").text('n/a');
	});
</script>
{% endblock %}
