{% extends 'master.twig' %}

{% block external_css %}

<link href="{{assetUrl}}plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}plugins/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}plugins/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}plugins/datatables/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}plugins/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />

{% endblock %}

{% block body %}
<div id="wrapper">
    <!-- TOPBAR HEADER -->
    {% include 'header.twig' %}
    <!-- LEFT SIDE BAR -->
    {% include 'member/sidebar.twig' %}

    <div class="content-page">
        <div class="content">
            <div class="">
                <div class="page-header-title">
                  <h4 class="page-title"><i class="fa fa-table"></i> Investment Transaction Code: {{ trans_code }}</h4></div>
            </div>
            <div class="page-content-wrapper ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    <a href="/member/transaction" class="pull-right"><< Back to Investments</a>
                                    <h4 class="m-b-30 m-t-0">Interest Logs</h4>
                                    <table id="tbl-interest-logs" class="table table-sorting table-hover table-bordered datatable">
                                      <thead>
                                        <tr>
                                          <th>Current AC Amount</th>
                                          <th>Interest Rate</th>
                                          <th>Interest Amount</th>
                                          <th>Date/Time</th>
                                          <th></th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        {% for interest_log in interest_logs %}
                                          <tr>
                                            <td>{{ interest_log.current_balance }} AC</td>
                                            <td>{{ interest_log.interest_rate }}%</td>
                                            <td>{{ interest_log.interest_amount }} AC</td>
                                            <td>{{ interest_log.created_at|date("F j, Y") }}</td>
                                            <td>
                                              {% if (interest_log.is_withdrawed == 0) %}
                                                {% if (not payoutStatus(interest_log.id, 1)) %}
                                                  <form method="post" action="{{ urlFor('payout_interest') }}">
                                                    <input type="hidden" name="interest_id" value="{{ interest_log.id }}" >
                                                    <input type="hidden" value="{{ request_uri }}" name="request_uri">
                                                    <button type="submit" class="btn btn-success btn-xs"><i class="fa fa-credit-card" aria-hidden="true"></i> Request for Payout</button>
                                                  </form>
                                                {% else %}
                                                  <span>Waiting for admin approval</span>
                                                {% endif %}
                                              {% else %}
                                                <span>Completed</span>
                                              {% endif %}
                                            </td>
                                          </tr>
                                        {% endfor %}
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer"> © 2017 ACES Trading - All Rights Reserved. </footer>
    </div>

</div>

{% endblock %}

{% block external_js %}
<script src="{{assetUrl}}plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.bootstrap.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.buttons.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/buttons.bootstrap.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/jszip.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/pdfmake.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/vfs_fonts.js"></script>
<script src="{{assetUrl}}plugins/datatables/buttons.html5.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/buttons.print.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.fixedHeader.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.keyTable.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.responsive.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/responsive.bootstrap.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.scroller.min.js"></script>
{# <script src="{{assetUrl}}pages/datatables.init.js"></script> #}

<script>
$("#tbl-interest-logs").dataTable();
</script>
{% endblock %}
