{% extends 'master.twig' %}

{% block external_css %}

<link href="{{assetUrl}}plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}plugins/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}plugins/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}plugins/datatables/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}plugins/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />

{% endblock %}

{% block body %}
<div id="wrapper">
    <!-- TOPBAR HEADER -->
    {% include 'header.twig' %}
    <!-- LEFT SIDE BAR -->
    {% include 'member/sidebar.twig' %}

    <div class="content-page">
        <div class="content">
            <div class="">
                <div class="page-header-title">
                    <h4 class="page-title"><i class="fa fa-bar-chart" aria-hidden="true"></i> Trade</h4></div>
            </div>
            <div class="page-content-wrapper ">
                <div class="container">
                    {# {% set status_visibility = (user.has_investment == 1) ? "display: hidden;" : "display: block;" %}
                    <div class="row" style="{{ status_visibility }}">
                      <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                              <div class="alert alert-danger top-general-alert">
                                <span>You are required to invest atleast 1 ACES Coin(AC) to activate your account.</span>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div> #}
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="panel panel-color panel-danger">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Buy ACES Coin, Send Here..</h3> </div>
                                <div class="panel-body">
                                    <p>
                                      <strong style="color: blue;" id="btc_wallet">{{ user.associated_wallet }}</strong>
                                    </p>
                                    <br>
                                    <p>
                                      <button class="btn btn-success btn-xs label label-primary" id="btn-copy"><i class="fa fa-clipboard" aria-hidden="true"></i> Copy To Clipboard</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-color panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Package Type 1</h3> </div>
                                <div class="panel-body">
                                    <p>
                                      <a data-toggle="modal" data-target="#modal-pacakge-1" title="Add Investment"><strong>{{package_1_range}} Days with {{package_1_interest}}% per day {{package_1_lockin}} days Capital Lock Period</strong></a>
                                    </p>
                                    <p>
                                      <span class="short-description">Minimum 1 AC per investment</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-color panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Package Type 2</h3> </div>
                                <div class="panel-body">
                                    <p>
                                      <a data-toggle="modal" data-target="#modal-pacakge-2" title="Add Investment"><strong>{{package_2_range}} Days with {{package_2_interest}}% per day {{package_2_lockin}} days Capital Lock Period</strong></a>
                                    </p>
                                    <p>
                                      <span class="short-description">Minimum 1 AC per investment</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    <h4 class="m-b-30 m-t-0">Trading History</h4>
                                    <table id="tbl-tradings" class="table table-striped table-bordered dt-responsive nowrap">
                                        <thead>
                                            <tr>
                                              <th>Transaction Code</th>
                                              <th>Aces Coin</th>
                                              <th>Package Type</th>
                                              <th>Days Range</th>
                                              <th>Interest</th>
                                              <th>Total Earnings</th>
                                              <th>Date/Time</th>
                                              <th>Due Date</th>
                                              <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for investment in investments %}
                                            {% set packType = (investment.package_type == 1) ? "label-primary" : "label-success" %}
                                            {% set lockin = investment.lock_in %}
                                              <tr>
                                                <td><a href="/member/transaction/view/details/{{ investment.trans_code }}" title="View Investment Details">{{ investment.trans_code }}</a></td>
                                                <td>{{ investment.tc_amount|number_format(2, '.', ',') }} AC</td>
                                                <td><span class="label {{ packType }}">Package Type {{ investment.package_type }}</span></td>
                                                <td>{{ investment.days_range }} days</td>
                                                <td>{{ investment.interest|number_format(2, '.', ',') }}%</td>
                                                <td>{{ interestEarnings(investment.trans_code) }} AC</td>
                                                <td>{{ investment.created_at|date("F j, Y") }}</td>
                                                <td>{{ dueDate(investment.created_at, investment.days_range)|date("F j, Y") }}</td>
                                                <td>
                                                  {% if (payout == 0) %}
                                                    <span style="color: red;">Payout is not available.</span>
                                                  {% else %}
                                                    {% if (not isCapitalLocked(investment.trans_code, lockin)) %}
                                                      {% if (not payoutStatus(investment.id, 2)) %}
                                                        <form method="post" action="{{ urlFor('payout_investment') }}">
                                                          <input type="hidden" name="investment_id" value="{{ investment.id }}" >
                                                          <input type="hidden" value="{{ request_uri }}" name="request_uri">
                                                          <button type="submit" class="btn btn-success btn-xs"><i class="fa fa-credit-card" aria-hidden="true"></i> Pull-Out Capital</button>
                                                        </form>
                                                      {% else %}
                                                        <span>Waiting for admin approval</span>
                                                      {% endif %}
                                                    {% else %}
                                                      <span>{{ capitalDueDate(investment.trans_code, lockin) }}</span>
                                                    {% endif %}
                                                  {% endif %}
                                                </td>
                                              </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    <h4 class="m-b-30 m-t-0">Withdrawals History</h4>
                                    <table id="tbl-withdrawals" class="table table-striped table-bordered dt-responsive nowrap">
                                        <thead>
                                            <tr>
                                              <th>#</th>
                                              <th>Balance before transfer</th>
                                              <th>Sent Amount</th>
                                              <th>Balance after transfer</th>
                                              <th>Bitcoin Amount</th>
                                              <th>USD($) Amount</th>
                                              <th>To Wallet</th>
                                              <th>Date/Time</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for withdrawal in withdrawals %}
                                              <tr>
                                                <td>{{ withdrawal.id }}</td>
                                                <td>{{ withdrawal.current_amount|number_format(2, '.', ',') }} AC</td>
                                                <td>{{ withdrawal.withdrawed_amount|number_format(2, '.', ',') }} AC</td>
                                                <td>{{ (withdrawal.current_amount - withdrawal.withdrawed_amount)|number_format(2, '.', ',') }} TC</td>
                                                <td>{{ withdrawal.btc_amount|number_format(8, '.', ',') }} BTC</td>
                                                <td>${{ withdrawal.aud_amount|number_format(2, '.', ',') }} USD</td>
                                                <td>{{ withdrawal.to_wallet }}</td>
                                                <td>{{ withdrawal.created_at|date("F j, Y h:i A") }}</td>
                                              </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer"> © 2017 ACES Trading - All Rights Reserved. </footer>
    </div>
</div>
{% endblock %}

{% block external_js %}

<script src="{{assetUrl}}plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.bootstrap.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.buttons.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/buttons.bootstrap.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/jszip.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/pdfmake.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/vfs_fonts.js"></script>
<script src="{{assetUrl}}plugins/datatables/buttons.html5.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/buttons.print.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.fixedHeader.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.keyTable.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.responsive.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/responsive.bootstrap.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.scroller.min.js"></script>
{# <script src="{{assetUrl}}pages/datatables.init.js"></script> #}

<script>
$("#tbl-tradings").dataTable();
$("#tbl-withdrawals").dataTable();
</script>

{% endblock %}
