{% block body %}

<div class="normalheader transition animated fadeIn">
	<div class="hpanel">
		<div class="panel-body">
			<a class="small-header-action" href="">
			<div class="clip-header">
				<i class="fa fa-arrow-up"></i>
			</div> </a>
			<h2 class="font-light m-b-xs">{{title}}</h2>
		</div>
	</div>
</div>

<!-- Main content -->
<div class="content animate-panel">
	{% if flash.message %}
	{% if flash.message_status == true %}
	<div class="alert alert-success alert-dismissable" style="margin-top: 25px">
		{% else %}
		<div class="alert alert-danger alert-dismissable" style="margin-top: 25px">
			{% endif %}
			<button aria-hidden="true" data-dismiss="alert" class="close" type="button">
				×
			</button>
			{{ flash.message }}
		</div>
		{% endif %}

		<form method="post" action="{{ urlFor('activate_account') }}" id="activation">
			<div class="hpanel">
				<div class="panel-body">
					<div class="box-body table-responsive">
						<table class="table table-hover cash-flow fixed-layout">
							<tbody>
								<tr>
									<td class="activation-label"><label>Activation Code</label></td>
									<th>
									<input type="text" class="form-control" name="activation_code"/>
									</th>
								</tr>
								<tr>
									<td class="activation-label"><label>Direct Referral</label></td>
									<th>
									<select name="direct_referral" class="all-users" style="width: 100%;">
										<option value="0">- Direct Referral -</option>
										{% for all_user in all_users %}
										<option value="{{ all_user.id }}">{{ all_user.ban }} {{ all_user.username }}</option>
										{% endfor %}
									</select></th>
								</tr>
								<tr>
									<td class="activation-label"><label>Placement Head</label></td>
									<th>
									<select name="placement_head" class="all-users" id="pHead" style="width: 100%;">
										<option value="0">- Select Placement Head -</option>
										{% for all_user in all_users %}
										<option value="{{ all_user.id }}">{{ all_user.ban }} {{ all_user.username }}</option>
										{% endfor %}
									</select></th>
								</tr>
								<tr>
									<td class="activation-label"><label>Placement Position</label></td>
									<th class="col-placement-position"><select name="placement_position" class="form-control" id="activation-position"></select></th>
								</tr>
								<tr>
									<td class="activation-label"></td>
									<th>
									<button class="btn btn-success" type="submit" id="term-submit">
										Activate
									</button></th>
								</tr>
							</tbody>
						</table>
					</div><!-- /.box-body -->
				</div>
			</div>
		</form>
		<script type="text/javascript">
			$(function() {
				$(".all-users").select2();

				$("#pHead").change(function() {
					var selUser_id = this.value;

					$("#activation-position").show();
					$("#activation-position").empty();
					$(".lbl-available").remove();
					$("#term-submit").prop("disabled", false);
					if (selUser_id != 0) {
						var url = "{{baseUrl()}}/activation/position/" + selUser_id;
						$.get(url, function(response) {
							console.log(response);
							var hasLeft = response.hasLeft;
							var hasRight = response.hasRight;

							if (!hasLeft) {
								$("#activation-position").append($("<option value='0'>LEFT</option>"));
							}
							if (!hasRight) {
								$("#activation-position").append($("<option value='1'>RIGHT</option>"));
							}

							if (hasLeft && hasRight) {
								$("#activation-position").hide();
								$("#term-submit").prop("disabled", true);
								$(".col-placement-position").append($("<label class='lbl-available'>No Available Position</label>"));
							}
						}).fail(function(error) {
							console.log(error);
						});
					}
				});

				$("#activation").validate({
					rules : {
						activation_code : {
							required : true
						},
						direct_referral : {
							min : 1
						},
						placement_head : {
							min : 1
						},
						placement_position : {
							required : true
						}
					},
					messages : {
						activation_code : {
							required : "Please enter your Account Activation Code"
						},
						direct_referral : {
							min : "Please choose your Direct Referral"
						},
						placement_head : {
							min : "Please choose your Placement Head"
						},
						placement_position : {
							required : "Please choose your Placement Position"
						}
					},
					onfocusout : false,
					submitHandler : function(form) {
						submitForm(form, "term-submit");
					}
				});
			});
		</script>
		{% endblock %}
