{% extends 'master.twig' %}
{% block external_css %}{% endblock %}

{% block body %}

<div class="accountbg"></div>
<div class="wrapper-page">
    <div class="panel panel-color panel-primary panel-pages">
        <div class="panel-body">
            <h3 class="text-center m-t-0 m-b-15"> <a href="/" class="logo logo-admin"><span>ACES</span>Coin</a></h3>
            <h4 class="text-muted text-center m-t-0"><b>Set Your New Password</b></h4>
            <form class="form-horizontal m-t-20" method="post" action="{{ urlFor('set_new_password') }}">
            	<input type="hidden" name="user_id" value="{{ user.id }}" >

            	<div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" required name="password" placeholder="New Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" required name="confirm" placeholder="Confirm New Password">
                    </div>
                </div>
               
                <div class="form-group text-center m-t-40">
                	<div class="col-xs-12">
                        <button class="btn btn-primary btn-block btn-lg waves-effect waves-light" type="submit"><i class="fa fa-check-circle"></i> Save New Password</button>
                    </div>
                </div>
                <div class="form-group m-t-30 m-b-0">
                    <div class="col-sm-12 text-center"> <a href="/login" class="text-muted">Already have account?</a></div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block external_js %}
<script type="text/javascript">
	$(function() {
		$("body").addClass('blank');
	});
</script>
{% endblock %}
