<!-- LEFT SIDEBAR -->
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <div class="user-details">
            <div class="text-center"> <img src="{{assetUrl}}img/flags/{{ user.avatar }}" alt="" class="img-circle"></div>
            <div class="user-info">
                <div class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{user.first_name}}</a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)"> Profile</a></li>
                        <li><a href="javascript:void(0)"> Settings</a></li>
                        <li><a href="javascript:void(0)"> Lock screen</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout"> Logout</a></li>
                    </ul>
                </div>
                <p class="text-muted m-0"><i class="fa fa-dot-circle-o text-success"></i> Online</p>
            </div>
        </div>
      
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group">
                    <li class="list-group-item"> <span class="badge badge-primary">{{ availableCoinBalance(user.id)|number_format(2, '.', ',') }} AC</span> Current Balance</li>
                    <li class="list-group-item"> <span class="badge badge-danger">{{ totalInvestments(user.id)|number_format(2, '.', ',') }} AC</span> Total Investments</li>
                    <li class="list-group-item"> <span class="badge badge-warning">{{ totalInterest(user.id)|number_format(2, '.', ',') }} AC</span> Total Interest</li>
                    <li class="list-group-item"><a data-toggle="modal" data-target="#modal-pacakge-1" title="Add Investment Package 1"><i class="fa fa-plus"></i> Package 1</a></li>
                    <li class="list-group-item"><a data-toggle="modal" data-target="#modal-pacakge-2" title="Add Investment Package 2"><i class="fa fa-plus"></i> Package 2</a></li>
                    <li class="list-group-item"><a data-toggle="modal" data-target="#modal-withdraw" title="Withdrawal"><i class="fa fa-exchange"></i> Withdraw</a></li>
                </ul>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
</div>
<!-- END LEFT SIDEBAR -->
