{% extends 'master.twig' %}
{% block external_css %}{% endblock %}

{% block body %}
<div id="wrapper">
    <!-- TOPBAR HEADER -->
    {% include 'header.twig' %}
    <!-- LEFT SIDE BAR -->
    {% include 'admin/sidebar.twig' %}

		<div class="content-page">
				<div class="content">
						<div class="">
								<div class="page-header-title">
										<h4 class="page-title"><i class="fa fa-edit"></i> {{ title }}</h4></div>
						</div>
						<div class="page-content-wrapper ">
								<div class="container">
										<div class="row">
												<div class="col-md-12">
													<div class="panel">
															<div class="panel-body">
																<div class="row">
																	<form class="form-horizontal" role="form" method="post" action="{{ urlFor('landing_description') }}">
																		<fieldset>
																			<div class="form-group">
																				<label for="ticket-name" class="col-sm-3 control-label">Description below logo</label>
																				<div class="col-sm-6">
                                          <textarea name="description" class="form-control" rows="2" cols="8" maxlength="100">
                                            {{ landing.description }}
                                          </textarea>
																				</div>
																				<div class="col-sm-3">
																					<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
																				</div>
																			</div>
																		</fieldset>
																	</form>
																</div>
															</div>
													</div>
												</div>
                        <div class="col-md-12">
													<div class="panel">
															<div class="panel-body">
																<div class="row">
																	<form class="form-horizontal" role="form" method="post" action="{{ urlFor('landing_about') }}">
																		<fieldset>
																			<div class="form-group">
																				<label for="ticket-name" class="col-sm-3 control-label">About Aces</label>
																				<div class="col-sm-6">
                                          <textarea name="about" class="form-control" rows="5" cols="14">
                                            {{ landing.about }}
                                          </textarea>
																				</div>
																				<div class="col-sm-3">
																					<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
																				</div>
																			</div>
																		</fieldset>
																	</form>
																</div>
															</div>
													</div>
												</div>
                        <div class="col-md-12">
													<div class="panel">
															<div class="panel-body">
																<div class="row">
																	<form class="form-horizontal" role="form" method="post" action="{{ urlFor('landing_mission') }}">
																		<fieldset>
																			<div class="form-group">
																				<label for="ticket-name" class="col-sm-3 control-label">Mission</label>
																				<div class="col-sm-6">
                                          <textarea name="mission" class="form-control" rows="5" cols="14">
                                            {{ landing.mission }}
                                          </textarea>
																				</div>
																				<div class="col-sm-3">
																					<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
																				</div>
																			</div>
																		</fieldset>
																	</form>
																</div>
                                <div class="row">
																	<form class="form-horizontal" role="form" method="post" action="{{ urlFor('landing_vision') }}">
																		<fieldset>
																			<div class="form-group">
																				<label for="ticket-name" class="col-sm-3 control-label">Vision</label>
																				<div class="col-sm-6">
                                          <textarea name="vision" class="form-control" rows="5" cols="14">
                                            {{ landing.vision }}
                                          </textarea>
																				</div>
																				<div class="col-sm-3">
																					<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
																				</div>
																			</div>
																		</fieldset>
																	</form>
																</div>
															</div>
													</div>
												</div>
                        <div class="col-md-12">
													<div class="panel">
															<div class="panel-body">
																<div class="row">
																	<form class="form-horizontal" role="form" method="post" action="{{ urlFor('landing_address') }}">
																		<fieldset>
																			<div class="form-group">
																				<label for="ticket-name" class="col-sm-3 control-label">Address</label>
																				<div class="col-sm-6">
                                          <input type="text" name="address" class="form-control" id="input_address" value="{{ landing.address }}" >
                                          <input type="text" name="formatted_address" class="form-control" required>
                                          <div class="row">
                                            <div class="col-md-6">
                                              <input type="text" name="latitude" class="form-control" required>
                                            </div>
                                            <div class="col-md-6">
                                              <input type="text" name="longitude" class="form-control" required>
                                            </div>
                                          </div>
																				</div>
																				<div class="col-sm-3">
																					<button type="submit" disabled id="btn-address" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
																				</div>
																			</div>
																		</fieldset>
																	</form>
																</div>
                                <div class="row">
																	<form class="form-horizontal" role="form" method="post" action="{{ urlFor('landing_phone') }}">
																		<fieldset>
																			<div class="form-group">
																				<label for="ticket-name" class="col-sm-3 control-label">Phone</label>
																				<div class="col-sm-6">
                                          <input type="tel" name="phone" class="form-control" value="{{ landing.phone }}" >
																				</div>
																				<div class="col-sm-3">
																					<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
																				</div>
																			</div>
																		</fieldset>
																	</form>
																</div>
                                <div class="row">
																	<form class="form-horizontal" role="form" method="post" action="{{ urlFor('landing_email') }}">
																		<fieldset>
																			<div class="form-group">
																				<label for="ticket-name" class="col-sm-3 control-label">Email</label>
																				<div class="col-sm-6">
                                          <input type="email" name="email" class="form-control" value="{{ landing.email }}" >
																				</div>
																				<div class="col-sm-3">
																					<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
																				</div>
																			</div>
																		</fieldset>
																	</form>
																</div>
															</div>
													</div>
												</div>
                        <div class="col-md-12">
													<div class="panel">
															<div class="panel-body">
																<div class="row">
																	<form class="form-horizontal" role="form" method="post" action="{{ urlFor('landing_facebook') }}">
																		<fieldset>
																			<div class="form-group">
																				<label for="ticket-name" class="col-sm-3 control-label">Facebook</label>
																				<div class="col-sm-6">
                                          <input type="text" name="facebook" class="form-control" value="{{ landing.facebook }}" >
																				</div>
																				<div class="col-sm-3">
																					<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
																				</div>
																			</div>
																		</fieldset>
																	</form>
																</div>
                                <div class="row">
																	<form class="form-horizontal" role="form" method="post" action="{{ urlFor('landing_twitter') }}">
																		<fieldset>
																			<div class="form-group">
																				<label for="ticket-name" class="col-sm-3 control-label">Twitter</label>
																				<div class="col-sm-6">
                                          <input type="text" name="twitter" class="form-control" value="{{ landing.twitter }}" >
																				</div>
																				<div class="col-sm-3">
																					<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
																				</div>
																			</div>
																		</fieldset>
																	</form>
																</div>
                                <div class="row">
																	<form class="form-horizontal" role="form" method="post" action="{{ urlFor('landing_google') }}">
																		<fieldset>
																			<div class="form-group">
																				<label for="ticket-name" class="col-sm-3 control-label">Google</label>
																				<div class="col-sm-6">
                                          <input type="text" name="google" class="form-control" value="{{ landing.google }}" >
																				</div>
																				<div class="col-sm-3">
																					<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
																				</div>
																			</div>
																		</fieldset>
																	</form>
																</div>
															</div>
													</div>
												</div>
										</div>
								</div>
						</div>
				</div>
				<footer class="footer"> © 2017 ACES Coin - All Rights Reserved. </footer>
		</div>
</div>
{% endblock %}

{% block external_js %}

<script>
  var geocoder;
  function initMap() {
    geocoder = new google.maps.Geocoder();
  }

  function geocodeAddress(address) {
    geocoder.geocode({'address': address}, function(results, status) {
      if (status === 'OK') {
        // console.log(results[0].geometry.location.lat());
        $("input[name=formatted_address]").val(results[0].formatted_address);
        $("input[name=latitude]").val(results[0].geometry.location.lat());
        $("input[name=longitude]").val(results[0].geometry.location.lng());
        $("#btn-address").removeAttr('disabled');
      } else {
        // console.log('Geocode was not successful for the following reason: ' + status);
        $("input[name=latitude]").val(null);
        $("input[name=longitude]").val(null);
        $("#btn-address").attr('disabled', true);
      }
    });
  }

  $(document).on('input', '#input_address', function(){
    // console.log(this.value);
    if (this.value.length > 0) {
      geocodeAddress(this.value);
    } else {
      $("#btn-address").attr('disabled', true);
    }
  });
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5u1pdUPm1U1rg78yT5lQVoIr1VTX4l64&callback=initMap">
</script>

{% endblock %}
