{% extends 'master.twig' %}
{% block external_css %}

<link href="{{assetUrl}}plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}plugins/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}plugins/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}plugins/datatables/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}plugins/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />

{% endblock %}

{% block body %}
<div id="wrapper">
    <!-- TOPBAR HEADER -->
    {% include 'header.twig' %}
    <!-- LEFT SIDE BAR -->
    {% include 'admin/sidebar.twig' %}

		<div class="content-page">
				<div class="content">
						<div class="">
								<div class="page-header-title">
										<h4 class="page-title"><i class="fa fa-history" aria-hidden="true"></i> Member Transaction History</h4></div>
						</div>
						<div class="page-content-wrapper ">
								<div class="container">
										<div class="row">
												<div class="col-md-12">
													<div class="panel">
															<div class="panel-body">
																	<h4 class="m-b-30 m-t-0"><i class="fa fa-table"></i> Member Investments</h4>
																	<div class="row">
																			<div class="col-xs-12">
																					<div class="table-responsive">
																						<table id="tbl-investments" class="table table-sorting table-hover table-bordered datatable">
																							<thead>
																								<tr>
																									<th>Transaction Code</th>
																									<th>Username</th>
																									<th>Name</th>
																									<th>Investment Amount (AC)</th>
																									<th>Package Type</th>
																									<th>Days Range</th>
																									<th>Interest (%)</th>
																									<th>Is withdrawed?</th>
																									<th>Date/Time</th>
																								</tr>
																							</thead>
																							<tbody>
																								{% for investment in investments %}
																									<tr>
																										<td><a href="/admin/investments/interest_logs/{{ investment.trans_code }}" title="View Interest Logs">{{ investment.trans_code }}</a></td>
																										<td>{{ getUserdetails(investment.user_id).username }}</td>
																										<td>{{ getUserdetails(investment.user_id).first_name }}</td>
																										<td>{{ investment.tc_amount|number_format(2, '.', ',') }} AC</td>
																										<td>Package {{ investment.package_type }}</td>
																										<td>{{ investment.days_range }} days</td>
																										<td>{{ investment.interest }} %</td>
																										<td>{{ (investment.is_withdrawed == 1) ? "Withdrawed" : "n/a" }}</td>
																										<td>{{ investment.created_at|date("F j, Y h:i A") }}</td>
																									</tr>
																								{% endfor %}
																							</tbody>
																						</table>
																					</div>
																			</div>
																	</div>
															</div>
													</div>
												</div>
										</div>
										<div class="row">
												<div class="col-md-12">
													<div class="panel">
															<div class="panel-body">
																	<h4 class="m-b-30 m-t-0"><i class="fa fa-table"></i> Member Purchase Logs (AC)</h4>
																	<div class="row">
																			<div class="col-xs-12">
																					<div class="table-responsive">
																						<table id="tbl-purchase-logs" class="table table-sorting table-hover table-bordered datatable">
																							<thead>
																								<tr>
																									<th>From BTC Address</th>
																									<th>Username</th>
																									<th>Name</th>
																									<th>Bitcoin Amount</th>
																									<th>AC Amount</th>
																									<th>Date/Time</th>
																								</tr>
																							</thead>
																							<tbody>
																								{% for purchase_log in purchase_logs %}
																									<tr>
																										<td>{{ purchase_log.address }}</td>
																										<td>{{ getUserdetails(purchase_log.user_id).username }}</td>
																										<td>{{ getUserdetails(purchase_log.user_id).first_name }}</td>
																										<td>{{ purchase_log.btc_amount|number_format(8, '.', ',') }} BTC</td>
																										<td>{{ purchase_log.tc_amount|number_format(2, '.', ',') }} AC</td>
																										<td>{{ investment.created_at|date("F j, Y h:i A") }}</td>
																									</tr>
																								{% endfor %}
																							</tbody>
																						</table>
																					</div>
																			</div>
																	</div>
															</div>
													</div>
												</div>
										</div>
								</div>
						</div>
				</div>
				<footer class="footer"> © 2017 ACES Trading - All Rights Reserved. </footer>
		</div>
</div>
{% endblock %}

{% block external_js %}
<script src="{{assetUrl}}plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.bootstrap.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.buttons.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/buttons.bootstrap.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/jszip.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/pdfmake.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/vfs_fonts.js"></script>
<script src="{{assetUrl}}plugins/datatables/buttons.html5.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/buttons.print.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.fixedHeader.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.keyTable.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.responsive.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/responsive.bootstrap.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.scroller.min.js"></script>
{# <script src="{{assetUrl}}pages/datatables.init.js"></script> #}
<script>
	$("#tbl-investments").dataTable();
	$("#tbl-purchase-logs").dataTable();
</script>
{% endblock %}
