{% extends 'master.twig' %}
{% block external_css %}

<link href="{{assetUrl}}plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}plugins/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}plugins/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}plugins/datatables/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{assetUrl}}plugins/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />

{% endblock %}

{% block body %}
<div id="wrapper">
    <!-- TOPBAR HEADER -->
    {% include 'header.twig' %}
    <!-- LEFT SIDE BAR -->
    {% include 'admin/sidebar.twig' %}

		<div class="content-page">
				<div class="content">
						<div class="">
								<div class="page-header-title">
										<h4 class="page-title"></h4></div>
						</div>
						<div class="page-content-wrapper ">
								<div class="container">
										<div class="row">
												<div class="col-md-12">
													<div class="panel">
															<div class="panel-body">
																	<a class="pull-right" href="/admin/investments">Back</a>
																	<h4 class="m-b-30 m-t-0"><i class="fa fa-table"></i> Transaction: {{trans_code}}</h4>
																	<div class="row">
																			<div class="col-xs-12">
																					<div class="table-responsive">
																						<table id="tbl-investments" class="table table-sorting table-hover table-bordered datatable">
																							<thead>
																								<tr>
																									<th>Trans. Code</th>
																									<th>Username</th>
																									<th>Name</th>
																									<th>Interest Amount (TC)</th>
																									<th>Interest Rate (%)</th>
																									<th>Is withdrawed?</th>
																									<th>Date/Time</th>
																								</tr>
																							</thead>
																							<tbody>
																								{% for interest_log in interest_logs %}
																									<tr>
																										<td>{{ interest_log.investment_code }}</td>
																										<td>{{ getUserdetails(interest_log.user_id).username }}</td>
																										<td>{{ getUserdetails(interest_log.user_id).first_name }}</td>
																										<td>{{ interest_log.interest_amount|number_format(2, '.', ',') }} TC</td>
																										<td>{{ interest_log.interest_rate }} %</td>
																										<td>{{ (interest_log.is_withdrawed == 1) ? "Withdrawed" : "Not yet" }}</td>
																										<td>{{ interest_log.created_at|date("F j, Y h:i A") }}</td>
																									</tr>
																								{% endfor %}
																							</tbody>
																						</table>
																					</div>
																			</div>
																	</div>
															</div>
													</div>
												</div>
										</div>
								</div>
						</div>
				</div>
				<footer class="footer"> © 2017 ACES Trading - All Rights Reserved. </footer>
		</div>
</div>
{% endblock %}

{% block external_js %}
<script src="{{assetUrl}}plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.bootstrap.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.buttons.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/buttons.bootstrap.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/jszip.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/pdfmake.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/vfs_fonts.js"></script>
<script src="{{assetUrl}}plugins/datatables/buttons.html5.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/buttons.print.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.fixedHeader.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.keyTable.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.responsive.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/responsive.bootstrap.min.js"></script>
<script src="{{assetUrl}}plugins/datatables/dataTables.scroller.min.js"></script>
{# <script src="{{assetUrl}}pages/datatables.init.js"></script> #}
<script>
	$("#tbl-investments").dataTable();
	$("#tbl-purchase-logs").dataTable();
</script>
{% endblock %}
