<div class="left side-menu">
		<div class="sidebar-inner slimscrollleft">
				<div class="user-details">
						<div class="text-center"> <img src="{{assetUrl}}img/flags/{{ user.avatar }}" alt="" class="img-circle"></div>
						<div class="user-info">
								<div class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{user.first_name}}</a>
										<ul class="dropdown-menu">
												<li><a href="javascript:void(0)"> Profile</a></li>
												<li><a href="javascript:void(0)"> Settings</a></li>
												<li><a href="javascript:void(0)"> Lock screen</a></li>
												<li class="divider"></li>
												<li><a href="javascript:void(0)"> Logout</a></li>
										</ul>
								</div>
								<p class="text-muted m-0"><i class="fa fa-dot-circle-o text-success"></i> Online</p>
						</div>
				</div>
				<div id="sidebar-menu">
						<ul>
								<li id="admin_dashboard"><a href="/admin/dashboard" class="waves-effect"><i class="fa fa-dashboard fa-fw"></i><span class="text">Dashboard</span></a></li>
								<!-- <li> <a href="index.html" class="waves-effect"><i class="mdi mdi-home"></i><span> Dashboard <span class="badge badge-primary pull-right">1</span></span></a></li> -->
								<li id="admin_payout"><a href="/admin/payout" class="waves-effect"><i class="fa fa-credit-card fa-fw"></i>
									<span class="text">Payout Request
										{% if (countPayoutRequest() > 0) %}
											<span class="badge badge-danger pull-right">{{ countPayoutRequest() }}</span>
										{% endif %}
									</span></a>
								</li>
								<li id="admin_investments"><a href="/admin/investments" class="waves-effect"><i class="fa fa-history" aria-hidden="true"></i><span class="text">Member Histories</span></a></li>
								<li id="admin_settings"><a href="/admin/settings" class="waves-effect"><i class="fa fa-cog fa-fw"></i><span class="text">Settings</span></a></li>
								<li id="admin_inquries"><a href="/admin/inquiries" class="waves-effect"><i class="fa fa-question-circle" aria-hidden="true"></i><span class="text">Inquiries</span></a></li>
								<li id="admin_messages"><a href="/admin/messages" class="waves-effect"><i class="fa fa-envelope" aria-hidden="true"></i>
									<span class="text">Messages
										{% if (countPendingMessages(user.id) > 0) %}
											<span class="badge badge-danger pull-right">{{ countPendingMessages(user.id) }}</span>
										{% endif %}
									</span></a>
								</li>
								<li id="admin_landing_page"><a href="/admin/landingpage" class="waves-effect"><i class="fa fa-cog fa-fw"></i><span class="text">Landing Page</span></a></li>
						</ul>
				</div>
				<div class="clearfix"></div>
		</div>
</div>
