{% extends 'master.twig' %}
{% block external_css %}{% endblock %}

{% block body %}
<div id="wrapper">
    <!-- TOPBAR HEADER -->
    {% include 'header.twig' %}
    <!-- LEFT SIDE BAR -->
    {% include 'admin/sidebar.twig' %}

		<div class="content-page">
				<div class="content">
						<div class="">
								<div class="page-header-title">
										<h4 class="page-title"><i class="fa fa-edit"></i> General Settings</h4></div>
						</div>
						<div class="page-content-wrapper ">
								<div class="container">
										<div class="row">
												<div class="col-md-12">
													<div class="panel">
															<div class="panel-body">
																<div class="row">
																	<form method="post" action="{{ urlFor('set_switcher') }}">
																		<div class="col-md-2">
																			<div class="onoffswitch">
																				<label>Registration</label>
																				{% set registration_status = (registration == 1) ? "checked" : "" %}
																				<input type="checkbox" name="registration_switch" class="onoffswitch-checkbox" id="registration_switch" {{registration_status}}>
																				<label class="onoffswitch-label" for="registration_switch">
																					<span class="onoffswitch-inner"></span>
																					<span class="onoffswitch-switch"></span>
																				</label>
																			</div>
																		</div>
																		<div class="col-md-2">
																			<div class="onoffswitch">
																				<label>Payout</label>
																				{% set payout_status = (payout == 1) ? "checked" : "" %}
																				<input type="checkbox" name="payout_switch" class="onoffswitch-checkbox" id="payout_switch" {{payout_status}}>
																				<label class="onoffswitch-label" for="payout_switch">
																					<span class="onoffswitch-inner"></span>
																					<span class="onoffswitch-switch"></span>
																				</label>
																			</div>
																		</div>
																		<div class="col-md-2">
																			<button type="submit" class="btn btn-success btn-sm"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
																		</div>
																	</form>
																	<div class="col-md-4">
																		<form class="form-horizontal" role="form" method="post" action="{{ urlFor('set_master_password') }}">
																			<fieldset>
																				<div class="form-group">
																					<div class="col-sm-6">
																						<input type="password" class="form-control" placeholder="Change Master Password...." name="master_password" required>
																					</div>
																					<div class="col-sm-3">
																						<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
																					</div>
																				</div>
																			</fieldset>
																		</form>
																	</div>
																</div>
															</div>
													</div>
												</div>
										</div>
										<div class="row">
												<div class="col-md-12">
													<div class="panel">
															<div class="panel-body">
																<div class="row">
																	<form class="form-horizontal" role="form" method="post" action="{{ urlFor('save_sell_value') }}">
																		<fieldset>
																			<div class="form-group">
																				<label for="ticket-name" class="col-sm-3 control-label">Sell Value(AUD) of 1(TC)</label>
																				<div class="col-sm-6">
																					<input type="number" class="form-control" value="{{ coin.sell_value }}" name="sell_value" min="1" step="0.1">
																				</div>
																				<div class="col-sm-3">
																					<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
																				</div>
																			</div>
																		</fieldset>
																	</form>
																	<form class="form-horizontal" role="form" method="post" action="{{ urlFor('save_buy_value') }}">
																		<fieldset>
																			<div class="form-group">
																				<label for="ticket-name" class="col-sm-3 control-label">Buy Value(AUD) of 1(TC)</label>
																				<div class="col-sm-6">
																					<input type="number" class="form-control" value="{{ coin.buy_value }}" name="buy_value" min="1" step="0.1">
																				</div>
																				<div class="col-sm-3">
																					<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
																				</div>
																			</div>
																		</fieldset>
																	</form>
																	<form class="form-horizontal" role="form" method="post" action="{{ urlFor('save_sell_value_btc') }}">
																		<fieldset>
																			<div class="form-group">
																				<label for="ticket-name" class="col-sm-3 control-label">Sell Value(BTC) of 1(TC)</label>
																				<div class="col-sm-6">
																					<input type="number" class="form-control" value="{{ coin.sell_value_btc }}" name="sell_value_btc" step="0.00000001">
																				</div>
																				<div class="col-sm-3">
																					<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
																				</div>
																			</div>
																		</fieldset>
																	</form>
																	<form class="form-horizontal" role="form" method="post" action="{{ urlFor('save_buy_value_btc') }}">
																		<fieldset>
																			<div class="form-group">
																				<label for="ticket-name" class="col-sm-3 control-label">Buy Value(BTC) of 1(TC)</label>
																				<div class="col-sm-6">
																					<input type="number" class="form-control" value="{{ coin.buy_value_btc }}" name="buy_value_btc" step="0.00000001">
																				</div>
																				<div class="col-sm-3">
																					<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
																				</div>
																			</div>
																		</fieldset>
																	</form>
																	<form class="form-horizontal" role="form" method="post" action="{{ urlFor('save_package_1_range') }}">
																		<fieldset>
																			<div class="form-group">
																				<label for="ticket-name" class="col-sm-3 control-label">Package 1 range (days)</label>
																				<div class="col-sm-6">
																					<input type="number" class="form-control" value="{{ package_1_range }}" name="package_1_range" min="1" step="0.1">
																				</div>
																				<div class="col-sm-3">
																					<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
																				</div>
																			</div>
																		</fieldset>
																	</form>
																	<form class="form-horizontal" role="form" method="post" action="{{ urlFor('save_package_2_range') }}">
																		<fieldset>
																			<div class="form-group">
																				<label for="ticket-name" class="col-sm-3 control-label">Package 2 range (days)</label>
																				<div class="col-sm-6">
																					<input type="number" class="form-control" value="{{ package_2_range }}" name="package_2_range" min="1" step="0.1">
																				</div>
																				<div class="col-sm-3">
																					<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
																				</div>
																			</div>
																		</fieldset>
																	</form>
																	<form class="form-horizontal" role="form" method="post" action="{{ urlFor('save_package_1_interest') }}">
																		<fieldset>
																			<div class="form-group">
																				<label for="ticket-name" class="col-sm-3 control-label">Package 1 interest (%)</label>
																				<div class="col-sm-6">
																					<input type="number" class="form-control" value="{{ package_1_interest }}" name="package_1_interest" min="1" step="0.1">
																				</div>
																				<div class="col-sm-3">
																					<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
																				</div>
																			</div>
																		</fieldset>
																	</form>
																	<form class="form-horizontal" role="form" method="post" action="{{ urlFor('save_package_2_interest') }}">
																		<fieldset>
																			<div class="form-group">
																				<label for="ticket-name" class="col-sm-3 control-label">Package 2 interest (%)</label>
																				<div class="col-sm-6">
																					<input type="number" class="form-control" value="{{ package_2_interest }}" name="package_2_interest" min="1" step="0.1">
																				</div>
																				<div class="col-sm-3">
																					<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
																				</div>
																			</div>
																		</fieldset>
																	</form>
																	<form class="form-horizontal" role="form" method="post" action="{{ urlFor('save_package_1_lockin') }}">
																		<fieldset>
																			<div class="form-group">
																				<label for="ticket-name" class="col-sm-3 control-label">Package 1 lockin capital (days)</label>
																				<div class="col-sm-6">
																					<input type="number" class="form-control" value="{{ package_1_lockin }}" name="package_1_lockin" min="1" step="0.1">
																				</div>
																				<div class="col-sm-3">
																					<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
																				</div>
																			</div>
																		</fieldset>
																	</form>
																	<form class="form-horizontal" role="form" method="post" action="{{ urlFor('save_package_2_lockin') }}">
																		<fieldset>
																			<div class="form-group">
																				<label for="ticket-name" class="col-sm-3 control-label">Package 2 lockin capital (days)</label>
																				<div class="col-sm-6">
																					<input type="number" class="form-control" value="{{ package_2_lockin }}" name="package_2_lockin" min="1" step="0.1">
																				</div>
																				<div class="col-sm-3">
																					<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
																				</div>
																			</div>
																		</fieldset>
																	</form>
																	<form class="form-horizontal" role="form" method="post" action="{{ urlFor('save_dr_bonus') }}">
																		<fieldset>
																			<div class="form-group">
																				<label for="ticket-name" class="col-sm-3 control-label">Direct Referral Bonus</label>
																				<div class="col-sm-6">
																					<input type="number" class="form-control" value="{{ dr_bonus }}" name="dr_bonus" min="1" step="0.1">
																				</div>
																				<div class="col-sm-3">
																					<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
																				</div>
																			</div>
																		</fieldset>
																	</form>
																</div>
															</div>
													</div>
												</div>
										</div>
								</div>
						</div>
				</div>
				<footer class="footer"> © 2017 ACES Trading - All Rights Reserved. </footer>
		</div>
</div>
{% endblock %}

{% block external_js %}{% endblock %}
